{% extends 'base.html.twig' %}

{% block title %}
    Welcome page Immoform
{% endblock %}

{% block body %}

    {% include 'Menu/_menu.html.twig' %}

    <div class="container mt-4">
        <h1>
            Bienvenue sur Immoform
        </h1>
        <p>
            Votre plateforme de gestion immobilière
        </p>

        <div class="row mt-4">
            <div class="col-md-12">
                <h2>
                    Soumettez vos demandes de formation et nous vous contacterons dans les plus brefs délais
                </h2>
                <p>
                    Bonjour
                    {{ userName }}
                </p>
                <p>
                    Vous vous êtes authentifié avec cet adresse mail :
                    {{ userEmail }}
                </p>
            </div>
            <div class="flex">
                <a class="btn btn-primary" href="{{ path('app_demande_formation') }}">
                    Demander une formation sur mesure
                </a>
                <a class="btn btn-danger" href="{{ path('app_sign_up') }}">

                    Deconnexion
                </a>
                <a class="btn btn-info text-white" href="{{ path('app_voir_demande_formations') }}">

                    Voir vos demandes
                </a>
            </div>

        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
